<?xml version="1.0"?>
<configuration>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\code\TimeTrade\Bestbuy.Rest.Timetrade.Service\RestService\Web_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\code\TimeTrade\Bestbuy.Rest.Timetrade.Service\RestService\Web_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <soapExtensionTypes>
        <add type="Bestbuy.Rest.Timetrade.Service.TraceExtension, Bestbuy.Rest.Timetrade.Service" priority="1" group="0" />
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <appSettings file="settings.config">
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <customBinding>
        <binding name="AppointmentWSBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
        <binding name="ConfigurationWSBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://dnd01apl.na.bestbuy.com:8443/ExternalVendor/AppointmentServicesSOAP"
        binding="customBinding" bindingConfiguration="AppointmentWSBinding"
        contract="AppointmentService.AppointmentServices" name="AppointmentWS" />
      <endpoint address="https://dnd01apl.na.bestbuy.com:8443/ExternalVendor/ConfigReservationSOAP"
        binding="customBinding" bindingConfiguration="ConfigurationWSBinding"
        contract="ConfigReservationService.ConfigurationServices" name="ConfigurationWS" />
    </client>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="Bestbuy.Rest.Timetrade.Service.AppointmentRestService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="Bestbuy.Rest.Timetrade.Service.IAppointmentRestService" />
      <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
